<a href="/auth/google">Google login</a>

<form id="loginForm">
  <input
    id="loginFormEmail"
    type="text"
    name="email"
    placeholder="Email"
    value="khaclam@gmail.com"
  />
  <input
    id="loginFormPass"
    type="text"
    name="passsword"
    placeholder="Password"
    value="123456"
  />
  <button>Login</button>
</form>

<script>
  const email = document.querySelector("#loginFormEmail").value;
  const password = document.querySelector("#loginFormPass").value;

  document.getElementById("loginForm").addEventListener("submit", (e) => {
    e.preventDefault();

    const data = {
      email,
      password,
    };

    console.log(data);

    fetch("http://localhost:5000/auth/login", {
      method: "POST",
      headers: {
        "Content-Type": "application/json;charset=utf-8",
      },
      body: JSON.stringify(data),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data.token);
      });
  });
</script>
