<!doctype html>
<html lang="en">

<head>
    <title>Phòng chat</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        #chat {
            height: 300px;
            overflow: auto;
            width: 800px;
            border: 1px solid #eee;
            font: 13px Helvetica, Arial;
        }
        
        #chat p {
            padding: 8px;
            margin: 0;
        }
        
        #chat p:nth-child(odd) {
            background: #F6F6F6;
        }
        
        #form {
            width: 782px;
            background: #333;
            padding: 5px 10px;
            display: none;
        }
        
        #form input[type=text] {
            width: 700px;
            padding: 5px;
            background: #fff;
            border: 1px solid #fff;
        }
        
        #form input[type=submit] {
            cursor: pointer;
            background: #999;
            border: none;
            padding: 6px 8px;
            margin-left: 5px;
            text-shadow: 0 1px 0 #fff;
        }
        
        #form input[type=submit]:hover {
            background: #A2A2A2;
        }
        
        #form input[type=submit]:active {
            position: relative;
            top: 2px;
        }
        
        .pointer {
            position: absolute;
            width: 50px;
            height: 50px;
            border: 1px solid;
        }
        
        .pointer h1 {
            font-size: 9pt;
        }
        
        .pointer img {
            width: 48px;
        }
    </style>
</head>

<body>
    <button id="joinRoom">Vào phòng</button>
    <button id="leaveRoom">Rời phòng</button>
    <div id="notification"></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        //Khởi tạo kết nối
        var socket = io('/freetuts');
        $('#joinRoom').click(function() {
            //Gọi sự kiện tham gia phòng
            socket.emit('join room', '')
        })
        $('#leaveRoom').click(function() {
                //Gọi sự kiện rời phòng
                socket.emit('leave room', '')
            })
            //Bắt sự kiện notification
        socket.on('notification', function(data) {
            console.log(data)
            $('#notification').append(`<p>${data}</p><br>`)
        })
    </script>
</body>

</html>