.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.settings__container {
  width: 80%;
  padding: 1rem 2rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
}

.settings__sectionItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
